*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #23eddf;
  font-size: 5rem;
}

p {
  color: rgb(134, 134, 134);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.4rem;
}
/* --------------------Header */
header {
  background-image: url(/img/wave.svg);
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

header p {
  color: #000;
  background-color: #aec5ff2b;
  padding: 2.3rem;
  border-radius: 2rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15rem;
  overflow: hidden;
}

.header-content {
  height: 100vh;
  padding: 0 50px;
  font-size: 2.5vmin;
  text-align: center;
  align-self: flex-start;
  background-color: transparent;
  opacity: 0.8;
  background-image: radial-gradient(#444df79d 0.6px, #e5e5f700 0.6px);
  background-size: 10px 10px;
  border-radius: 6rem;
  height: 450px;
  flex-basis: 50%;
  margin-right: 120px;
}

.header-content p {
  width: 80%;
  margin: 40px auto;
  text-align: left;
}
.header-content a {
  /* margin-top: 90px; */
  padding: 15px 40px;
  text-decoration: none;
  margin: 50px 20px;
  font-size: 1.3rem;
  border: 4px solid #eee;
  border-radius: 0.75rem;
}
.header-content .link {
  margin-top: 60px;
}

a.ctn {
  background-color: transparent;
  font-weight: bold;
  color: #235ced;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
  padding: 20px;
  font-size: 1.5rem;
}

.navbar ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
}

nav .logo {
  font-size: 2.5rem;
  width: 100px;
  margin: 20px;
  color: white;
}

.hero-img {
  height: 100vh;
}
.hero-img img {
  height: 50vh;
  
}

/* ----------------Serivces */
.services {
  background-repeat: no-repeat;
  background-position: right;
  overflow: visible;
  height: 700px;
  padding: 3rem 0px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  height: 400px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 30px;
  /* place-items: center center; */

  margin: 0 auto;
}
.services-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.services-content h1 {
  margin-bottom: 20px;
}

.services-content ul {
  color: black;
  width: 80%;
  text-align: left;
  background-color: #aec5ff2b;
  padding: 30px;
  border-radius: 2rem;
  font-weight: bold;
}
.services-content li {
  list-style-type: square;
  list-style-position: inside;
  padding: 10px;
  font-size: 1.2rem;
  /* margin: 20px 0px; */
}
.services-content svg {
  position: absolute;
  height: 600px;
  z-index: -1;
}
.services-content a {
  text-decoration: none;
  padding: 15px 40px;
  font-size: 1.3rem;
  border: 4px solid #eee;
  border-radius: 0.75rem;
}

.grid-wrapper .mobile {
  background: linear-gradient(to bottom right, #18ea4c, #a5c3ba);

  color: white;
  padding: 40px;
}
.grid-wrapper .web {
  background: linear-gradient(to bottom right, #377bdb, #897dca);
  transform: translateY(40px);

  color: white;
  padding: 40px;
}
.grid-wrapper .market {
  background: linear-gradient(to bottom right, #c71cda, #93bab9);

  color: white;
  padding: 40px;
}
.grid-wrapper .brand {
  background: linear-gradient(to bottom right, #d5cb6c, #32ea53);
  transform: translateY(40px);
  color: white;
  padding: 40px;
}
.grid-box p {
  margin-top: 10px;
  font-size: 1.3rem;
  color: white;
}

.grid-box {
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.271);
  animation: scale 1s ease-in-out infinite;
  height: 200px;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.scrollTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 99999;
  color: #000;
  font-size: 3rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  transition: opacity 0.5s;
  text-align: center;
  line-height: 50px;
}
.scrollTop:active {
  transform: translateY(5px);
}
/* ----------------------theme */
.checkbox {
  opacity: 0;
  position: absolute;
}
.theme {
  position: absolute;
  top: 40px;
  left: 60%;
}
.label {
  background-color: #eee;
  height: 20px;
  width: 50px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}
.checkbox:checked ~ .label {
  background-color: #000;
}
.checkbox:checked ~ .label .ball {
  background: #fff;
  transform: translateX(25px);
}
.ball {
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
  margin: 5px;
  transition: transform 0.5s;
}
body.dark .scrollTop {
  color: white;
}
.blogs {
  width: 1400px;
  margin: 80px auto 200px;
}
.grid-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  align-content: center;
  column-gap: 4rem;
  text-align: center;
}
.blog-img img {
  height: 280px;
  transition: all .5s;
  
}
.blog-img:hover img {
  transform: scale(1.1);
}

.blog h2 {
  margin-top: 40px;
}
.blog {

  min-height: 500px;
  background-color: #377bdb24;
  border-radius: .25rem;

}

body.dark {
  background-color: #000;
}
body.dark p {
  color: #fff;
}
body.dark ul {
  color: #fff;
}
body.dark a {
  color: #fff;
}
body.dark h2 {
  color: #fff;
}
body.dark .copyright {
  color: #fff;
}

.footer {
  margin-bottom: 180px;
}
.grid-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 2rem;
  padding: 2rem;
} 

.col {
  min-height: 400px;
  text-align: center;
  border: thick solid #eee;
}

.col h2 {
  margin-top: 30px;
}

.one,.two,.three,.four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* line-height: 30px; */
}
hr {
  width: 50%;
  margin: 0 auto;
}
.copyright {
  padding: 40px;
  display: flex;
  justify-content: space-around;
}